.button {
  height: 20px;
  width: 60px;
  font-size: 10px;
  color: #fff;
  outline: none;
  background-color: rgba(197, 187, 187, 0.1);
  cursor: pointer;
}
.info_poster {
  border: 1px solid rgb(110, 105, 105);
  border-radius: 10px;
  width: 182px;
  height: 275px;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
}

.movie_poster {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  flex-wrap: wrap;
  min-height: auto;
}
.film {
  border: 1px solid rgb(110, 105, 105);
  width: 402px;
  height: 288px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
  background-color: rgba(197, 187, 187, 0.1);
}
.poster {
  border: 1px solid rgb(110, 105, 105);
  border-radius: 10px;
  width: 200px;
  height: 275px;
  background-size: contain;
}
img {
  width: 200px;
  height: 275px;
  border-radius: 10px;
}
.type {
  font-size: 15px;
  color: #fff;
}
.title_poster {
  text-align: center;
  color: #fff;
}
.year_poster {
  color: #ccc;
}

@media (max-width: 510px) {
  img{
    width: 180px;
  height: 255px;
  }
  .info_poster{
    width: 180px;
    height: 255px;
  }
  .poster{
    width: 180px;
    height: 255px;
  }
  .film{
    width: 380px;
    height: 268px;
  }
}
@media (max-width: 400px) {
  img{
    width: 150px;
  height: 225px;
  }
  .info_poster{
    width: 150px;
    height: 225px;
  }
  .poster{
    width: 150px;
  height: 225px;
  }
  .film{
    width: 312px;
    height: 230px;
    padding: 1px;
    margin: 6px;
  }
}
