.posters{
    width:824px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}
@media (max-width: 850px) {
    .posters{
        width:410px;
        display: flex;
        flex-wrap: wrap;
        margin: 0px auto;
        justify-content: center;
    } 
}
@media (max-width: 410px) {
    .posters{
        width:320px;
    
    } 
}




