.posters{
    width:861px;
    height: 592px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    overflow-y: scroll;
    justify-content: center;
}
.posters::-webkit-scrollbar{
    cursor: pointer;
}


