.container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 1) 100%,
    rgba(0, 0, 0, 0.8) 15%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}
.contant {
  width: 995px;
  height: 600px;
  /* border: 1px solid #ccc; */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 10px #ccc;
  background-color: #ccc;
}
.poster_modal {
  width: 482px;
  height: 580px;
  border-radius: 10px;
}
.info_modal {
  width: 482px;
  height: 580px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000;
}
.img_allInfo {
  width: 480px;
  height: 580px;
  border-radius: 10px;
}
.title {
  color: #ccc;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dashed rgb(44, 43, 43);
}
.plot {
  color: khaki;
  border-bottom: none;
  text-align: center;
}
.writer {
  margin-right: 5px;
}

@media (max-width: 1000px) {
  .img_allInfo {
    width: 400px;
    height: 550px;
    border-radius: 10px;
  }
  .title {
    font-size: 11px;
  }
  .info_modal {
    width: 450px;
    height: 550px;
  }
  .contant{
    width: 880px;
  height: 570px;
  
  }
  .poster_modal {
    width: 412px;
    height: 550px;
   
  }
}
@media (max-width: 900px) {
  .img_allInfo {
    width: 300px;
    height: 435px;
    border-radius: 10px;
  }
  .title {
    font-size: 9px;
  }
  .info_modal {
    width: 350px;
    height: 435px;
  }
  .contant{
    width: 680px;
  height: 455px;
  
  }
  .poster_modal {
    width: 300px;
    height: 435px;
   
  }
}
@media (max-width: 700px) {
  .img_allInfo {
    width: 300px;
    height: 435px;
    border-radius: 10px;
  }
  .title {
    font-size: 9px;
  }
  .info_modal {
    width: 350px;
    height: 435px;
  }
  .contant{
   max-width: 320px;
height: 450px;
  padding: 7px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 10px #ccc;
  background-color: #ccc;
  overflow-y: scroll;
  }
  .contant::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: rgb(5, 5, 5);
    border-radius:5px
  }
  .contant::-webkit-scrollbar-thumb {
    background-color: rgb(44, 46, 46);
    border-radius: 2px;
    border: 1px solid rgb(44, 46, 46);
  }

  .poster_modal {
    width: 300px;
    height: 435px;
    margin-bottom: 10px;
   
  }
}
